

body{
    background-color: #f5f5f5;
}

#listeFeeds{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feed{
    padding: 0.5em;
    margin: 1em 0;
    width: 100%;
    background-color: #fff7d6;
    border-radius: 10px;
    box-shadow: 5px 10px 5px black;
}
.containerBtnRefresh{
    display: flex;
    justify-content: end;
}
.logoRefresh{
    height: 100%;
    width: 100%;
}
@media screen and (min-width: 1000px){
    main{
        padding: 0.5em;
    }
    .feed{
        margin: 1em 20em;
        width: 30%;
    }
    .btnRefresh{
        margin-right: 40em;
    }
}